@import '../../base';


mat-tab-group{
  height: calc(100% - #{$bottom-bar-h});
}



.map-block{
  height: calc(100% - 84px)// 480px;
}

.deliver-date-row{
  text-align: center;
  padding-left: 15px;
  padding-top: 10px;
}
